<nav class="navbar" xmlns:th="http://www.thymeleaf.org" th:fragment="navbar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a th:href="@{/}" class="navbar-brand">Магазин Десертів</a>
    <ul class="navbar-nav">
        <li><a th:href="@{/products}" class="nav-link" th:classappend="${#execInfo.templateName.startsWith('product')} ? 'active'">Продукти</a></li>
        <li><a th:href="@{/categories}" class="nav-link" th:classappend="${#execInfo.templateName.startsWith('category')} ? 'active'" sec:authorize="hasRole('ADMIN')">Категорії</a></li>
        <li><a th:href="@{/orders}" class="nav-link" th:classappend="${#execInfo.templateName.startsWith('order')} ? 'active'" sec:authorize="hasAnyRole('ADMIN', 'USER')">Замовлення</a></li>
        <li><a th:href="@{/extras}" class="nav-link" th:classappend="${#execInfo.templateName.startsWith('additionalItem')} ? 'active'" sec:authorize="hasRole('ADMIN')">Додатки</a></li>
        <li><a th:href="@{/auditLog}" class="nav-link" th:classappend="${#execInfo.templateName.startsWith('auditLog') or #execInfo.templateName == 'index'} ? 'active'" sec:authorize="hasRole('ADMIN')">Аудит</a></li>
    </ul>
</nav>
